__pycache__/
*.py[cod]

.venv/
venv/

.pytest_cache/
.mypy_cache/

*.egg-info/
build/
dist/

.idea/
.vscode/

logs/*
!logs/.gitkeep

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

*.csv
*.log